h1 {
  color:darkslategray;
  text-align: center;
  font-style: bold;
  font-weight: 900;
  font-family: trebuchet;
  font-size: 40px;
  line-height: 5;
}
h2{
  color:red;
  font-family: impact;
  font-size: 35px;
}
ol{
  font-size: 25px;
}

img {
  border-radius: 50%;
  max-width: 200px;
}

li{
  color: #054895;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
a
{
  color: #054895;
}

